/*Estilos generales*/
*{
	margin:0px;
	padding:0px;
}
a{
    color: #000;
    text-decoration: none;
    font-family: verdana;
}
a:hover{
    text-decoration: underline;
    font-family: verdana;
}
body{
    background-color: #000;
}
h1,h2{
	margin:8px 0px;
}

ul{
    list-style: none;
}
/*Estilos generales*/

/*estructura de la página*/
#wrap{
	width:600px;
	margin:0 auto;
    background-image: url(img/fondo.png);
    background-repeat: repeat-y;
    padding: 10px 20px;
}

#contenido{
    padding: 10px 0;
}
/*estructura de la página*/

/* menu */
.cabecera{
	margin:10px 0px;
}
.cabecera  a{
	text-decoration: none;
    padding: 4px;
    background-color: #000;
    color: #FFF;
	text-decoration: none;
	margin-right: 10px;
}
.cabecera a:hover{
    background-color: #F00;
}
/* menu */

/* tabla para mostrar datos */
#lrecetas{
	margin-bottom:30px;
    
}
#lrecetas tr td {
    font-family: verdana;
    font-size: 14px;
    position: relative;
}
#lrecetas tr td{
    border-bottom: 1px dotted #000;
    padding: 5px 0px;
}
/* tabla para mostrar datos */

/* formularios */
#formulario{
    text-align: left;
}
#formulario input,#formulario textarea,#formulario select{
    margin: 3px;
}
#formulario textarea{
    height: 60px;
}
#formulario input[type="text"],#formulario select,#formulario input[type="file"],#formulario input[type="password"],#formulario textarea	{
    width:333px;
}
#formulario input[type="submit"]{
    width:100px;
}
/* formularios */

/* otros estilos*/
.fechac{
    font-size: 14px;   
}
/* otros estilos*/

footer{
	margin:10px 0px 5px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}
.der{
	text-align:right;
}
