<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="recetario de php">
		<meta name="author" content="luis">
		
		<link type="text/css" href="css/estilo.css" rel="stylesheet">
	</head>

	<body>
		<div id="wrap">
			<nav class="cabecera">
				<a href="./">Inicio</a>
				<a href="ver-recetas">Recetas</a>
				{% if usuario != "" %}
				<a href="nueva-receta">Nueva receta</a>
				<a href="perfil">Perfil</a>
				<a href="salir">Salir</a>
				{% else %}
				<a href="nuevo-usuario">Nuevo usuario</a>
				<a href="identificarse">Login</a>
				{% endif %}
			</nav>
			<header>
				<h1>{% block titulo %}{% endblock %}</h1>
			</header>
				<div id="contenido">
				{% block contenido %}
				
				{% endblock %}
			</div>
			<footer>
				<p>
					Diseñado por Luis Pitarch
				</p>
			</footer>
		</div>
	</body>
</html>
