{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% if exito is defined and exito == 0 %}
		<h2>Error al eliminar :( </h2>
		<a href="./" class="mensaje">Ver otras recetas</a>
		<a href="perfil" class="mensaje">Intentar de nuevo</a>
	{% elseif exito == 1 %}
		<h2>Receta borrada correctamente </h2>
		<a href="perfil" class="mensaje">Ok, borrar otras recetas</a>
		<a href="./" class="mensaje">Ver otras recetas</a>
	{% elseif exito == 2 %}
		<h2>No tienes permitido eliminar esta receta >:O </h2>
		<a href="perfil" class="mensaje">Ver mis recetas</a>
		<a href="./" class="mensaje">Ver otras recetas</a>
	{% endif %}

	
{% endblock %}


