{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}

<table id="lrecetas">
		<tr>{# si he borrado el usuario de una receta, se queda huerfana y lo pongo como anonimo #}
			<td>Autor: {% if nombre.username is defined %} {{nombre.username}} {% else %} Anonimo {% endif %} </td>
			<td colspan="2">Titulo: {{receta.titulo}}</td>
		</tr>
		<tr>
			<td>Categoria: {{receta.tipo}}</td>
			<td colspan="2">Fecha: {{receta.fecha_creacion|date("j F \\a\\ \\l\\a\\s H:i") }}</td>
		</tr>
		<tr>
			<td>Ingredientes: </td>
			<td colspan="2">{{receta.ingredientes}}</td>
		</tr>
		<tr>
			<td>Preparacion: </td>
			<td colspan="2">{{receta.preparacion}}</td>
		</tr>
		<tr>
			<td colspan="3"><img src="{{receta.imagen}}" width="500"></td>
		</tr>
		<tr>
			<td>Dificultad: {{receta.dificultad}}</td>
			<td colspan="2">Ultima modificacion {{receta.fecha_modificacion|date("j F \\a\\ \\l\\a\\s H:i") }}</td>
		</tr>
		<tr>
			<td colspan="3">Consejos: {{receta.consejos}}</td>
		</tr>
</table>
{% endblock %}
