{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% if exito is defined and exito == 2 %}
		<h2>No tienes permitido modificar esta receta >:O </h2>
		<a href="perfil" class="mensaje">Ver mis recetas</a>
		<a href="./" class="mensaje">Ver otras recetas</a>
	{% elseif exito is defined and exito == 0 %}
		<h2>Error al modificar :( </h2>
		<a href="perfil" class="mensaje">Ver mis recetas</a>
		<a href="./" class="mensaje">Ver otras recetas</a>
	{% elseif exito is defined and exito == 1 %}
		<h2>Modificado correctamente </h2>
		<a href="perfil" class="mensaje">Ok, modificar mas recetas</a>
		<a href="./" class="mensaje">Ver otras recetas</a>
	{% else %}
		<form method="post" action="editar-receta" enctype="multipart/form-data" id="formulario">
			<table>
				<tr>
					<td>
						<input type="hidden" name="id" value="{{receta.id}}"/>
						<label for="titulo">Nombre de la receta: </label>
					</td>
					<td>
						<input type="text" id="titulo" name="titulo" value="{{receta.titulo}}"/>
						<span class="error">{{error[0]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="ingredientes">Ingredientes: </label>
					</td>
					<td>
						<textarea  id="ingredientes" name="ingredientes">{{receta.ingredientes}}</textarea>
						<span class="error">{{error[1]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="preparacion">Preparacion: </label>
					</td>
					<td>
						<textarea id="preparacion" name="preparacion">{{receta.preparacion}}</textarea>
						<span class="error">{{error[2]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="consejos">Consejos: </label>
					</td>
					<td>
						<textarea id="consejos" name="consejos">{{receta.consejos}}</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label for="tiempo">Tiempo de preparacion:</label>
					</td>
					<td>
						<select id="tiempo" name="tiempo"> 
							
							{% for i in 1..14 %}
							    <option value="{{ i*10 }}" {% if i*10==receta.tiempo %} selected{% endif %}> {{ i*10 }}</option>
							{% endfor %}
							
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="dificultad">Dificultad:  </label>
					</td>
					<td>
						<select id="dificultad" name="dificultad"> 
							<option value="Muy facil"{% if receta.dificultad == "Muy facil" %}selected{% endif %}>Muy fácil</option>
							<option value="Facil"{% if receta.dificultad == "Facil" %}selected{% endif %}>Facil</option>
							<option value="Medio" {% if receta.dificultad == "Medio" %}selected{% endif %}>Medio</option>
							<option value="Dificil" {% if receta.dificultad == "Dificil" %}selected{% endif %}>Dificil</option>
							<option value="Muy dificil" {% if receta.dificultad == "Muy dificil" %}selected{% endif %}>Muy dificil</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="tipo">Tipo de plato: </label>
					</td>
					<td>
						<select id="tipo" name="tipo"> 
							<option value="Entrante" {% if receta.tipo == "Entrante" %}selected{% endif %}>Entrante</option>
							<option value="Primero" {% if receta.tipo == "Primero" %}selected{% endif %}>Primero</option>
							<option value="Segundo" {% if receta.tipo == "Segundo" %}selected{% endif %}>Segundo</option>
							<option value="Postre" {% if receta.tipo == "Postre" %}selected{% endif %}>Postre</option>
						</select>
					</td>
				</tr>
				<tr>
					<td rowspan="2">
						<label for="imagen">Imagen: </label>
					</td>
					<td rowspan="2">
						<input type="file" name="imagen" id="imagen"/>
						
						<br>{% if receta.imagen == "recetas/no.jpg" %}(Sin imagen){% else %}<br><input type="checkbox" value="1" name="borrarimagen"><label for="borrar_imagen">Eliminar imagen</label>{% endif %}
					</td>
				</tr>
				<tr></tr>
				<tr>
					<td>
						<input type="submit" name="editar" value="Cambiar"/>
					</td>
				</tr>
			</table>
			
		</form>
	
	{% endif %}

	
{% endblock %}


