{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}

<ul>
	{% for receta in recetas %}
		<li><h2><a href="detalle-receta-{{receta.id}}">{{receta.titulo}}</a></h2></li>
		<li><span class="fechac">Añadido el: {{receta.fecha_creacion|date("j F \\a\\ \\l\\a\\s H:i")}}</span></li>
	{% endfor %}
</ul>
{% endblock %}
