{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}

{% if msg is not null %}
	<span class="error">{{ msg }}</span>
{% endif %}
	<form action="identificarse" method="post" id="formulario">
		<table>
			<tr>
				<td><label for="usuario">Usuario</label></td>
				<td><input type="text" name="usuario" id="usuario" /></td>
			</tr>
			<tr>
				<td><label for="password">Contraseña</label></td>
				<td><input type="password" name="password" id="password" /></td>
			</tr>
			<tr>
				<td><input type="submit" name="enviar" value="Aceptar" /></td>
			</tr>
		</table>
	</form>
{% endblock %}


