{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% if exito is defined and exito != 1 %}
		<h2>Error al registrarse :( </h2>
		<a href="ver-recetas" class="mensaje">Ver recetas</a>
		<a href="nuevo-usuario" class="mensaje">Intentar de nuevo</a>
	{% elseif exito == 1 %}
		<h2>Registrado correctamente </h2>
		<a href="login.php" class="mensaje">Identificarse</a>
		<a href="ver-recetas" class="mensaje">Ver recetas</a>
	{% else %}
		<form method="post" action="nuevo-usuario" id="formulario">
			<table>
				<tr>
					<td>
						<label for="username">Usuario: </label>
					</td>
					<td>
						<input type="text" id="username" name="username" value="{{post}}"/>
						<span class="error">{{error[0]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password: </label>
					</td>
					<td>
						<input type="password" id="password" name="password"/>
						<span class="error">{{error[1]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="password2">Repetir password: </label>
					</td>
					<td>
						<input type="password" id="password2" name="password2"/>
						<span class="error">{{error[2]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="añadir" value="Registrarse"/>
					</td>
				</tr>
			</table>
			
		</form>
	
	{% endif %}

	{% if error[3] is defined %}
		<br>
		<span class="error">{{error[3]}}</span>
	{% endif %}
	
{% endblock %}


