{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% if exito is defined and exito != 1 %}
		<h2>Error al añadir :( </h2>
		<a href="ver-recetas" class="mensaje">Ver otras recetas</a>
		<a href="nueva-receta" class="mensaje">Intentar de nuevo</a>
	{% elseif exito == 1 %}
		<h2>Exito al añadir </h2>
		<a href="ver-recetas" class="mensaje">Ok, ver otras recetas</a>
		<a href="nueva-receta" class="mensaje">Añadir mas recetas</a>
	{% else %}
		<form method="post" action="nueva-receta" enctype="multipart/form-data" id="formulario">
			<table>
				<tr>
					<td>
						<label for="titulo">Nombre de la receta: </label>
					</td>
					<td>
						<input type="text" id="titulo" name="titulo" value="{{post.titulo}}"/>
						<span class="error">{{error[0]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="ingredientes">Ingredientes: </label>
					</td>
					<td>
						<textarea  id="ingredientes" name="ingredientes">{{post.ingredientes}}</textarea>
						<span class="error">{{error[1]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="preparacion">Preparacion: </label>
					</td>
					<td>
						<textarea id="preparacion" name="preparacion">{{post.preparacion}}</textarea>
						<span class="error">{{error[2]}}</span>
					</td>
				</tr>
				<tr>
					<td>
						<label for="consejos">Consejos: </label>
					</td>
					<td>
						<textarea id="consejos" name="consejos">{{post.consejos}}</textarea>
					</td>
				</tr>
				<tr>
					<td>
						<label for="tiempo">Tiempo de preparacion: </label>
					</td>
					<td>
						<select id="tiempo" name="tiempo"> 
							{% for i in 1..14 %}
							    <option value="{{ i*10 }}"> {{ i*10 }}</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="dificultad">Dificultad: </label>
					</td>
					<td>
						<select id="dificultad" name="dificultad"> 
							<option value="Muy facil">Muy fácil</option>
							<option value="Facil">Facil</option>
							<option value="Medio">Medio</option>
							<option value="Dificil">Dificil</option>
							<option value="Muy dificil">Muy dificil</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="tipo">Tipo de plato: </label>
					</td>
					<td>
						<select id="tipo" name="tipo"> 
							<option value="Entrante">Entrante</option>
							<option value="Primero">Primero</option>
							<option value="Segundo">Segundo</option>
							<option value="Postre">Postre</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="imagen">Imagen: </label>
					</td>
					<td>
						<input type="file" name="imagen" id="imagen"/>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" name="añadir" value="Aceptar"/>
					</td>
				</tr>
			</table>
			
		</form>
	
	{% endif %}

	
{% endblock %}


