{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% for receta in recetas %}
		<table id="lrecetas">
			<tr>
				<td><a href="detalle-receta-{{receta.id}}">{{receta.titulo}}</a></td>
			</tr>
			<tr>
				<td><img src="{{receta.imagen}}" width="500"></td>
			</tr>
			<tr>
				<td>Ultima modificacion: {{receta.fecha_modificacion|date("j F \\a\\ \\l\\a\\s H:i") }}</td>
			</tr>
		</table>
	{% endfor %}
{% endblock %}
