{% extends "base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block titulo %}
{{titulo}}
{% endblock %}

{% block contenido %}
	{% if recetas == 0 %}
		<h2>No tienes recetas :(</h2>
		<a href="nueva-receta" class="mensaje">Añadir una receta</a>
	{% else %}
			{% for receta in recetas %}
				<table id="lrecetas">
						<tr>
							<td><a href="detalle-receta-{{receta.id}}">{{receta.titulo}}</a></td>
							<td class="der"><a href="editar-receta-{{receta.id}}">Editar</a> | <a href="borrar-receta-{{receta.id}}">Borrar</a></td>
						</tr>
						<tr>
							<td colspan="2"><img src="{{receta.imagen}}" width="500"></td>
						</tr>
						<tr>
							<td colspan="2" class="fechac">Ultima modificacion: {{receta.fecha_modificacion|date("j F \\a\\ \\l\\a\\s H:i") }}</td>
						</tr>
				</table>
			{% endfor %}
	
	{% endif %}
{% endblock %}
